#leftSide {
    height: 950px;
    width: 250px;
    margin-left: 25%;
    background-image: url(../assets/double-bubble-outline.png);
    margin-bottom: 1rem;
    border-radius: 15px;
}

#mainBox {
    height: 950px;
    width: 1505px;
    margin-left: 6rem;
    background-image: url(../assets/double-bubble-outline.png);
    border-radius: 15px;
    display: flex;
    flex-direction: column
}


#socialmedia {
    height: 250px;
    width: 750px;
    margin-left: 6rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-image: url(../assets/double-bubble-outline.png);
    border-radius: 15px;
    text-align: center;
}

#blueBird {
    margin-left: 5px;
    margin-top: 8px;
}

#logoTitle {
    font-family: 'Patrick Hand', cursive;
    font-size: 36px;
    color: firebrick;
    font-weight: bold;
    position: relative;
    right: 75%;
}

.twitterDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: row;
    padding: 5px;
    margin-right: 40px;
    float: left;
}

.linkedinDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: row;
    padding: 4px;
    margin-right: 30px;
    margin-top: 4px;
    float: left;
    transform: scale(1.4);
}

.facebookDiv {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: row;
padding: 5px;
margin-right: 50px;
float: left;
}

.bookDiv, .dessertDiv, .veggieDiv, .youtubeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: row;
    padding: 5px;
    margin-right: 0px;
    float: left;
}

/* this changes color of font awesome icons from blue to black */
a .fa-2x {
    color:black;
    }

#bookBtn, #dessertBtn, #veggieBtn, #youtubeBtn {
    border-color: white;
}

.footer {
    background-color:#F8F8F8;
    text-align: center;
    color:firebrick;
    position: absolute;
    width: 100%;
    padding-top: 15px;
    background-image: url(../assets/double-bubble-outline.png);
}

.uk-navbar {
    margin-bottom: 25px;
}
body {
    background-color: firebrick;
}

img {
    border-radius: 150px;
}

#mainContent {
    display: flex;
    width: 25%;
    flex-wrap: wrap;
    flex-direction: inherit;
    margin-left: 35%;
    justify-content: center;
    text-align: right;
    align-items: center;
}
#mainContent2 {
    display: flex;
    width: 100%;
    flex-flow: column;
    text-align: left;
    text-indent: 5px;
}
#mainContent3 {
    margin-top: 1%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-flow: column;
    flex-basis: unset;
    text-align: left;
}
#mainContent4 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-basis: unset;
}

#socialmedia {
    height: 150px;
    width: 900px;
    margin-left: 23rem;
    margin-top: 1rem;
    background-image: url(../assets/double-bubble-outline.png);
    border-radius: 15px;
    text-align: center;

}

* {
    font-family: 'Oxygen', sans-serif;
}

*+address, *+dl, *+fieldset, *+figure, *+ol, *+p, *+pre, *+ul {
    margin-top: 5px;
}
address, dl, fieldset, figure, ol, p, pre, ul {
    margin: 0 0 5px 0;
}

.recentSearch, .storageValues {
    color: firebrick;
    background-color: white;
    border-color: #b2b2b2;
    overflow: visible;
    font: inherit;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
}

.recentSearchDrink {
    color: black;
    background-color: white;
    border-color: #b2b2b2;
    overflow: visible;
    font: inherit;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
}