#leftSide {
    height: 800px;
    width: 250px;
    margin-left: 25%;
    background-image: url(../assets/double-bubble-outline.png);

}

#mainBox {
    height: 500px;
    width: 1505px;
    margin-left: 6rem;
    background-image: url(../assets/double-bubble-outline.png);
}

#savedRec {
    height: 250px;
    width: 1505px;
    margin-left: 6rem;
    margin-top: 3rem;
    background-image: url(../assets/double-bubble-outline.png);
}

.footer {
    background-color: firebrick;
    text-align: center;
    color: white;

}
