#leftSide {
    height: 800px;
    width: 250px;
    margin-left: 25%;
    background-image: url(../assets/double-bubble-outline.png);
    margin-bottom: 1rem;
    border-radius: 15px;
}

#mainBox {
    height: 500px;
    width: 1505px;
    margin-left: 6rem;
    background-image: url(../assets/double-bubble-outline.png);
    border-radius: 15px;
}

#savedRec {
    height: 250px;
    width: 1505px;
    margin-left: 6rem;
    margin-top: 3rem;
    background-image: url(../assets/double-bubble-outline.png);
    border-radius: 15px;
}

.footer {
    background-color:#F8F8F8;
    text-align: center;
    color:firebrick;
    position: absolute;
    width: 100%;
    padding: 30px;
    background-image: url(../assets/double-bubble-outline.png);
}

body {
    background-color: firebrick;
}